<div layout="column">
    <div flex="100">
        <h2>New Pilot</h2>
    </div>
    <div flex="100">
        <md-list-item>
            <md-input-container>
                <label for="full-name">Full Name</label>
                <input type="text" ng-model="fullName" required id="full-name">
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container>
                <label for="address">Address</label>
                <input type="text" ng-model="address" required id="address">
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container>
                <label for="ratings">Ratings</label>
                <input type="text" ng-model="ratings" required id="ratings">
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container>
                <label for="current">Current</label>
                <input type="text" ng-model="current" required id="current">
            </md-input-container>
        </md-list-item>
    </div>
    <div flex="100">
        <md-list-item>
            <md-button class="md-raised">Cancel</md-button>
            <md-button class="md-raised" ng-click="pilots.addNewPilot(fullName, address, ratings, current)">Save</md-button>
        </md-list-item>
    </div>
</div>
