<div>
    <nav>
        <calendar-nav></calendar-nav>
    </nav>
    <header>
        <calendar-header ng-repeat="header in ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
            {{header}}
        </calendar-header>
    </header>
    <div ng-repeat="week in calendarVm.calendar">
        <calendar-day ng-repeat="day in week">
            <div>
                {{calendarVm.getDayData(day).displayDate}}
            </div>
            <div ng-show="calendarVm.getDayData(day).reservations > 0" style="position: absolute">
                Booked: {{calendarVm.getDayData(day).reservations}}
            <div>
        </calendar-day>
    </div>
</div>